
# IDE
# Lambda build artifacts
# OS
# Python
# Secrets (never commit!)
*.egg-info/
*.env
*.pyc
*.pyo
*.swp
.DS_Store
.env
.idea/
.venv/
.vscode/
Thumbs.db
__pycache__/
deploy/lambda/*.zip
deploy/lambda/build/
dist/
secrets.json
venv/
